body {
background-color: white;
}

h1 {
text-align: center;
}

p {
width: 600px;
height: 200px;
border: 1pt soild black;
float: left;
text-align: right;
font-family: sans-serif;
color: white;
position: center;
  
}

.a {
background-color: red;

}

.b{
background-color: blue;
}

.c {
background-color: yellow;
}

/* desktop ***/

@media (min-width: 992px) {

.a {
	width: 33%;
}
.b {
width: 33%;
}
.c {
width: 33%;
}
}

/*tablet devices*/

@media (min-width: 768px) and (max-width: 991px) {

.a {

}
}

/* moblie */

@media (max-width: 767px)

